.jumbotron {
  padding-top: 6rem;
  background-color: #007d0f;
}

#projects {
  background-color: #007d0f;
}

section {
  padding-top: 5rem;
}

.footer {
  background-color: #007d0f;
}

.btn-primary {
  background-color: #007d0f;
}
